.cardsdiv{
    /* background-color: rgb(48, 42, 80); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 2rem;
    width: auto;
    /* justify-content: center;
    align-items: center; */
}
.cardswrapper{
    display: flex;
    justify-content: center;
    /* background-color: rgb(48, 42, 80); */
}